.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

/assets/*
/config/svm_models
/config/lastgenre
*.json
*.yaml
*.log
*.blb
*.pickle
*.manuel
*.auto
